{% extends 'store/main.html' %} {% load static %} {% block content %}

<main>
    <section id="section-checkout" class="checkout">
        <div class="checkout-container">
            <div class="heading-tertiary gradient">Checkout</div>
            <!-- <p class="welcome-msg">Thanks for being part of Unique Online Store!</p> -->
            <div class="account-info">
            <div class="person-details hidden">
                <div class="account-headings">Personnal information</div>
                <form class="login-form visitor hidden">
                    <div>
                      <label for="username">
                        <input type="text" placeholder="Username or E-mail" />
                      </label>
                    </div>
                    <div>
                      <label for="password">
                        <input type="password" placeholder="Password" />
                      </label>
                    </div>
                    <div class="product-footer">
                      <button class="btn-login">Login</button>
                      <button class="btn-login">Register</button>
                    </div>
                  </form>
            </div>
                <div class="billing-details">
                    <div class="account-headings">Billing address</div>
                    <form id ='form' class="login-form user">
                        <div>
                          <label for="Address">
                            <input type="text" name="address" placeholder="Address" />
                          </label>
                        </div>
                        <div>
                          <label for="City">
                            <input type="text" name="city" placeholder="City" />
                          </label>
                        </div>
                        <div>
                            <label for="State">
                              <input type="text" name="state" placeholder="State" />
                            </label>
                          </div>
                          <div>
                            <label for="Zip Code">
                              <input type="number" name="zipcode" placeholder="Zip Code" />
                            </label>
                          </div>
                          <div>
                            <label for="Country">
                              <input type="country" name="country" placeholder="Country" />
                            </label>
                          </div>
                      
            </div>
            <input id='submit' class="qty-btn" type='submit' value="Continue">
            <button id='payment' class="qty-btn hidden">Payment</button>
          </form>
            </div>
        </div>
        <div class="account-container-2">
            <div class="account-headings gradient">Your order</div>
            {% for item in items %}
            <div class="order-box">
            
                
                <div class="order-img">
                    <img
                    class="product-img"
                    src="{{item.product.imageURL}}" />
                </div>

                <div class="order-details">
                <div class="order-num gradient">{{item.product.name}}</div>
                <div class="order-detail">({{item.quantity}} pcs)</div>
                <div class="order-date">23rd August 2021</div>
                <div class="order-status">{{item.product.price|floatformat:0}} USD</div>
                </div>
            </div>

            {% endfor %}

            <div class="checkout-total">
              <p class="total-title">Total</p>
              <p class="checkout-total-price update-cart">{{order.get_cart_total|floatformat:0}} USD</p>
            </div>

            </div>
        </div>
    </section>

</main>
<script type="text/javascript">

  let form = document.getElementById('form');
  let total = '{{order.get_cart_total}}'

  form.addEventListener('submit', function(e){
    e.preventDefault();
    console.log('Form submitted...');
    document.getElementById('submit').classList.add('hidden');
    document.getElementById('payment').classList.remove('hidden');
    
  })

  document.getElementById('payment').addEventListener('click', function(e) {
    submitFormData();
  })

  function submitFormData(){
    console.log('Payment button clicked')

    let userFormData = {
      'name':null,
      'email':null,
      'total':total,
    }

    let shippingInfo = {
      'address':null,
      'city':null,
      'state':null,
      'zipcode':null,
      'country':null,
    }

    if(shipping = 'True'){
      shippingInfo.address = form.address.value
      shippingInfo.city = form.city.value
      shippingInfo.state = form.state.value
      shippingInfo.zipcode = form.zipcode.value
      shippingInfo.country = form.country.value
    }
    
    if(user == 'AnonymousUser'){
      userFormData.name = form.name.value
      userFormData.email = form.email.value
    }

    let url = '/process_order/';

    fetch(url,{
      method:'POST',
      headers:{
        'Content-Type':'application/json',
        "X-CSRFToken": csrftoken,
      },
      body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo}),
    })
    .then((response) => response.json())
    .then((data)=> {
      console.log('Success', data);
      alert('Transaction completed');
      window.location.href = "{% url 'store' %}"
    })

  }

  // if (user != 'AnonymousUser'){
  //   document.getElementById('visitor').innerHTML= '';
  //   document.getElementById('person-details').classList.add('hidden');
  // }
</script>

{% endblock content %}
