<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <script src="https://unpkg.com/phosphor-icons"></script>

    <!-- logged user info -->
    <script type="text/javascript">
      let user = "{{request.user}}";

      function getToken(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();

            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }
      let csrftoken = getToken("csrftoken");

      function getCookie(name) {
        // Split cookie string and get all individual pairs in array
        let cookieArr = document.cookie.split(";");

        // Loop through the array elements
        for (let i = 0; i < cookieArr.length; i++) {
          let cookiePair = cookieArr[i].split("=");

          // Removing whitespace at the beginning of the cookie name and compare it with the given string
          if (name == cookiePair[0].trim()) {
            // Decode the cookie value and return
            return decodeURIComponent(cookiePair[1]);
          }
        }
        // Return null if not found
        return null;
      }

      let cart = JSON.parse(getCookie("cart"));
      if (cart == undefined) {
        cart = {};
        console.log("Cart was created");
        document.cookie = "cart" + JSON.stringify(cart) + ";domain;path=/";
      }

      console.log("Cart:", cart);
    </script>

    <title>Unique Online Store</title>
  </head>
  <body>
    <header class="main-header">
      <nav class="main-nav">
        <ul class="main-nav-list">
          <li>
            <a class="main-nav-link" href="{% url 'store' %}">Shop</a>
          </li>
          <li>
            <a class="main-nav-link" href="{% url 'store' %}#section-products"
              >Products</a
            >
          </li>
          <li>
            {% if request.user.is_authenticated %}
            <a
              class="main-nav-link"
              href="{% url 'customer' user.customer.id %}"
              >Account</a
            >
            {% else %}
            <a class="main-nav-link" href="{% url 'register' %}">Account</a>
            {% endif %}
          </li>
          <li>
            <a class="main-nav-link" href="{% url 'cart' %}">
              <i class="ph-shopping-cart-simple"></i>
              <span class="cart-count">{{cartItems}}</span>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    {% block content %} {% endblock content %}
    <footer class="footer">
      <div class="footer-area">
        <nav class="footer-nav">
          <ul class="footer-nav-list">
            <li>
              <a class="footer-nav-link" href="#">Company</a>
            </li>
            <li>
              <a class="footer-nav-link" href="#section-products">Products</a>
            </li>
            <li><a class="footer-nav-link" href="#">Shipping</a></li>
            <li>
              <a class="footer-nav-link" href="#">Terms & Conditions</a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
    <script src="{% static 'script/cart.js' %}"></script>
  </body>
</html>
