/******** BASIC ********/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", monospace;

  font-weight: 400;
  color: #555;
}

a {
  text-decoration: none;
}

p {
  line-height: 1;
}

.heading-primary {
  font-size: 8.4rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
}

.heading-secondary {
  font-size: 6.8rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.heading-tertiary {
  font-size: 4.8rem;
  font-weight: 500rem;
  letter-spacing: 0.2rem;
  padding-bottom: 4.8rem;
}

.gradient {
  background: #121fcf;
  background: -webkit-linear-gradient(
    to right,
    #121fcf 0%,
    #af7aff 50%,
    #7ccfb9 71%
  );
  background: -moz-linear-gradient(
    to right,
    #121fcf 0%,
    #af7aff 50%,
    #7ccfb9 71%
  );
  background: linear-gradient(to right, #121fcf 0%, #af7aff 50%, #7ccfb9 71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/******** NAVIGATION ********/

.main-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 4.8rem;
  height: 10rem;
  top: 0;
  position: sticky;
  background-color: black;
  color: #fff;
}

/* .main-nav {
  display: flex;
  align-items: center;
  justify-items: center;
} */

.main-nav-list {
  display: flex;
  gap: 3.2rem;
  font-size: 1.4rem;
  list-style: none;
  align-items: center;
  letter-spacing: 0.1rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  border: 1px solid #fff;
  padding: 0.7rem 1rem;
  font-family: inherit;
  background-color: rgb(17, 15, 15);
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
}

.main-nav-link:hover,
.main-nav-link:active {
  background-color: #fff;
  color: rgb(17, 15, 15);
}

.ph-shopping-cart-simple {
  font-size: 1.4rem;
  font-family: inherit;
  vertical-align: middle;
}

.cart-count {
  font-size: 0.8rem;
  border-radius: 11px;
  position: absolute;
  top: 37.5%;
  right: 4.2%;
}

/******** SECTION HERO ********/

.hero {
  /* display: flex; */
  padding: 5rem 2.4rem 60rem 2.4rem;
  background-image: url("/static/img/photo-1515973069-1e40b62f107f.webp");
  width: 100%;
  height: 100%;
  /* Paralax */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-area {
  /* display: flex;
  width: 50%; */
  text-align: center;
}

.hero-img-area {
  content: "";
}

.hero-description {
  font-size: 3.6rem;
  font-weight: 300;
  color: #fff;
}

/******** SECTION PRODUCTS ********/

.products {
  padding: 24rem 2.4rem;
  background-color: black;
}

.products-heading {
  text-align: center;
  padding-bottom: 8rem;
  color: #fff;
}

.products-grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  grid-template-columns: repeat(3, 1fr);
}

.single-product {
  padding: 3rem;

  border: 1px solid;
  border-image: linear-gradient(to right, #121fcf 0%, #af7aff 50%, #7ccfb9 71%)
    1;
  /* border-radius: 11px; */
  background-color: rgb(17, 15, 15);
  box-shadow: 0 2.4rem 4.8rem rgba(19, 1, 1, 0.226);
}

.product-image {
  width: 100%;
  /* border-radius: 11px; */
}

.product-title {
  font-size: 2.4rem;
  font-weight: 600;
  padding-top: 2.4rem;
  padding-bottom: 1.2rem;
  color: #fff;
  letter-spacing: 0.2rem;
}

.product-price {
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 2.4rem;
  color: #fff;
  letter-spacing: 0.1rem;
}

.product-description {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2rem;
  padding-bottom: 2.4rem;
  color: #fff;
  letter-spacing: 0.1rem;
}

.product-footer {
  display: flex;
  gap: 1.8rem;
  color: #fff;
  align-items: stretch;
}

.product-add-cart {
  border: 1px solid #fff;
  font-size: 1.4rem;
  padding: 0.7rem 1rem;
  font-family: inherit;
  letter-spacing: 0.1rem;
  background-color: rgb(17, 15, 15);
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
}

.product-add-cart:hover {
  background-color: #fff;
  color: rgb(17, 15, 15);
}

.product-more-details {
  border: 1px solid #fff;
  font-size: 1.4rem;
  padding: 0.7rem 1rem;
  font-family: inherit;
  letter-spacing: 0.1rem;
  background-color: rgb(17, 15, 15);
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
}

.product-more-details:hover {
  background-color: #fff;
  color: rgb(17, 15, 15);
}

.trans-q {
  transition: 0.1s;
}

.product-fav-icon {
  border: 1px solid #fff;
  font-size: 1.4rem;
  padding: 0.7rem 1rem;
  font-family: inherit;
  background-color: rgb(17, 15, 15);
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
}

.product-fav-icon:hover {
  background-color: #fff;
  color: rgb(17, 15, 15);
}

.ph-heart-straight {
  font-size: 1.4rem;
  vertical-align: middle;
}

/******** PRODUCT DETAILS ********/

.modal-area {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.details-close {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #fff;
  cursor: pointer;
  border: none;
  background: none;
}

.product-details-heading {
  font-size: 1.8rem;
  color: #fff;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.product-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 100%;
  background-color: rgb(17, 15, 15);
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.btn-details {
  padding-bottom: 2.4rem;
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.hidden {
  display: none;
}

/******** SECTION ABOUT ********/

.about {
  padding: 12rem 2.4rem;
  background-color: black;
  background-image: url("/static/img/shubham-dhage-0aQ1lxP0wTs-unsplash.jpg");
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-area {
  display: flex;
  align-items: center;
}

.about-description {
  font-size: 1.8rem;
  padding-top: 4.8rem;
  color: #fff;
  letter-spacing: 0.1rem;
  line-height: 1.4;
  width: 45%;
}

/******** LOGIN ********/

.login {
  background-color: black;
  padding-top: 5rem;
  /* padding: 10rem 20rem; */
  /* height: calc(100vh - 10rem); */
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.main-container {
  width: 40%;
  padding: 3rem;
  border: 1px solid;
  border-image: linear-gradient(to right, #121fcf 0%, #af7aff 50%, #7ccfb9 71%)
    1;
  /* border-radius: 11px; */
  background-color: rgb(17, 15, 15);
  box-shadow: 0 2.4rem 4.8rem rgba(19, 1, 1, 0.226);
}

.login-form label {
  display: block;
  padding-bottom: 1.8rem;
  font-size: 1.4rem;
  font-family: inherit;
  color: #fff;
  letter-spacing: 0.2rem;
}

.login-form input {
  width: 100%;
  font-family: inherit;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  padding: 1.2rem;
  border: 1px solid;
  border-image: linear-gradient(to right, #121fcf 0%, #af7aff 50%, #7ccfb9 71%)
    1;
  /* border-radius: 11px; */
  background-color: rgb(17, 15, 15);
  box-shadow: 0 2.4rem 4.8rem rgba(19, 1, 1, 0.226);
}

.login-form input::placeholder {
  color: #fff;
}

.login-form input[type="submit"]:hover {
  background-color: #fff;
  color: rgb(17, 15, 15);
  transition: 0.4s;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: rgb(17, 15, 15);
  margin: 0;
  font-family: inherit;
  color: #af7aff;
  width: 2rem;
  height: 2rem;
  border: 1px solid;
  border-image: linear-gradient(to right, #121fcf 0%, #af7aff 50%, #7ccfb9 71%)
    1;
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 1.65rem;
  height: 1.65rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
  box-shadow: inset 1em 1em;
}

.register-footer {
  display: flex;
  gap: 1.8rem;
  color: #fff;
  align-items: stretch;
  padding-top: 2.4rem;
}

.register-field {
  padding-bottom: 2.4rem;
}

.divider {
  padding-bottom: 2.4rem;
}

.btn-login {
  border: 1px solid #fff;
  padding: 0.7rem 1rem;
  font-family: inherit;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  background-color: rgb(17, 15, 15);
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
}

.btn-login:hover {
  background-color: #fff;
  color: rgb(17, 15, 15);
  transition: 0.4s;
}

/******** CHECKOUT ********/

.checkout {
  background-color: black;
  /* padding: 10rem 20rem; */
  height: calc(100vh - 10rem);
  display: flex;
  /* flex-direction: column; */
  gap: 3.2rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  overflow: scroll;
}

.checkout-container {
  border: 1px solid;
  border-image: linear-gradient(to right, #121fcf 0%, #af7aff 50%, #7ccfb9 71%)
    1;
  /* border-radius: 11px; */
  background-color: rgb(17, 15, 15);
  box-shadow: 0 2.4rem 4.8rem rgba(19, 1, 1, 0.226);
  padding: 3rem;
  width: 40%;
  height: 85%;
  overflow: scroll;
}

.total-title {
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}

.checkout-total {
  display: flex;
  justify-content: space-between;
  padding-top: 1.2rem;
}

.checkout-total-price {
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}

/******** ACCOUNT ********/

.account {
  background-color: black;
  /* padding: 10rem 20rem; */
  height: calc(100vh - 10rem);
  display: flex;
  /* flex-direction: column; */
  gap: 3.2rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  overflow: scroll;
}

.account-container {
  border: 1px solid;
  border-image: linear-gradient(to right, #121fcf 0%, #af7aff 50%, #7ccfb9 71%)
    1;
  /* border-radius: 11px; */
  background-color: rgb(17, 15, 15);
  box-shadow: 0 2.4rem 4.8rem rgba(19, 1, 1, 0.226);
  padding: 3rem;
  width: 40%;
  height: 85%;
  overflow: scroll;
}

.account-container-2 {
  border: 1px solid;
  border-image: linear-gradient(to right, #121fcf 0%, #af7aff 50%, #7ccfb9 71%)
    1;
  /* border-radius: 11px; */
  background-color: rgb(17, 15, 15);
  box-shadow: 0 2.4rem 4.8rem rgba(19, 1, 1, 0.226);
  padding: 3rem;
  width: 30%;
  height: 85%;
  overflow: scroll;
}

/* .welcome-msg {
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
  padding-bottom: 4.8rem;
  letter-spacing: 0.2rem;
} */

.order-img {
  display: flex;
  align-items: center;
}

.product-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.account-headings {
  font-size: 1.8rem;
  font-weight: 600;
  padding-bottom: 2.4rem;
  color: #fff;
  letter-spacing: 0.2rem;
}

.person-details {
  padding-bottom: 2.4rem;
}

.billing-details {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}

.person-detail {
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
  padding-bottom: 1.2rem;
  letter-spacing: 0.2rem;
}

.order-box {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding-bottom: 2.4rem;
}

.order-num {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

.order-product {
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

.order-date {
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.2rem;
  padding-bottom: 1.2rem;
}

.order-status {
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.2rem;
}

.order-detail {
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.1rem;
}

/******** SECTION CART ********/

.summary {
  background-color: black;
  padding-top: 5rem;
  /* padding: 10rem 20rem; */
  /* height: calc(100vh - 10rem); */
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  overflow: scroll;
}

.summary-container {
  border: 1px solid;
  border-image: linear-gradient(to right, #121fcf 0%, #af7aff 50%, #7ccfb9 71%)
    1;
  /* border-radius: 11px; */
  background-color: rgb(17, 15, 15);
  box-shadow: 0 2.4rem 4.8rem rgba(19, 1, 1, 0.226);
  padding: 3rem;
  width: 70%;
}

.summary-product {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 3.8rem;
  padding-bottom: 2.4rem;
}

.product-title-cart {
  font-size: 2.4rem;
  font-weight: 600;
  padding-top: 2.4rem;
  padding-bottom: 1.2rem;
  color: #fff;
  letter-spacing: 0.2rem;
}

.qty-btns {
  display: flex;
  gap: 1.2rem;
}

.qty-btn {
  padding: 0.5rem 1rem;
  border-radius: 2px;
  border: none;
  font-family: inherit;
  font-size: 1.4rem;
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
  background-color: rgb(17, 15, 15);
}

.qty-btn:hover {
  background-color: #fff;
  color: rgb(17, 15, 15);
  transition: 0.4s;
}

.qty-count {
  background-color: rgb(17, 15, 15);
  border: 1px solid #fff;
  font-family: inherit;
  color: #fff;
  border-radius: 2px;
  padding: 0.2rem;
  text-align: center;
}
.cart-headings {
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  padding-bottom: 2.4rem;
  text-align: center;
  letter-spacing: 0.2rem;
}

.cart-price {
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.2rem;
}

.close {
  font-size: 5rem;
  color: #fff;
  cursor: pointer;
  border: none;
  background: none;
}

.cart-checkout {
  float: right;
  padding: 0.5rem;
}

.btn-checkout {
  padding: 0.5rem 1rem;
  border-radius: 2px;
  border: none;
  font-family: inherit;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
  background-color: rgb(17, 15, 15);
  text-align: center;
}

.btn-checkout:hover {
  background-color: #fff;
  color: rgb(17, 15, 15);
  transition: 0.4s;
}

.cart-total {
  font-size: 2.4rem;
  font-weight: 500;
  color: #fff;
  padding-bottom: 3.2rem;
  letter-spacing: 0.2rem;
}
.inline {
  display: block;
  width: 100%;
}

/******** SECTION FOOTER ********/

.footer {
  padding: 12rem 4.8rem 6rem 4.8rem;
  background-color: black;
}

.footer-nav-list {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  list-style: none;
  letter-spacing: 0.1rem;
}

.footer-nav-link:link,
.footer-nav-link:visited {
  color: #fff;
}
